#heroCard {
    width: 75vw;
    background-image: url("../public/postCard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 7vh;
    margin-bottom: 15vh;
    box-shadow: 6px 6px 2px #0000008c;
    position: relative;
}

#heroCard h2 {
    font-weight: bold;
    font-size: 2.2rem;
    color: rgb(228, 188, 115);
    text-shadow: 1px 1px 0px rgb(0, 0, 0), -1px -1px 0px rgb(0, 0, 0);
}

#heroCard p {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

#heroBodyCard {
    background-color: white;
}

#imgHero:hover {
    animation: happiness 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.envelope {
    background-color: #cc892d;
    height: 100%;
    width: 75vw;
    box-shadow: 6px 6px 2px #0000008c;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

@media (min-width: 500px) {
    .envelope {
        top: 35px;
        left: 35px;
    }
}