#heroCard {
    width: 75vw;
    background-image: url("../public/postCard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#heroBodyCard {
    background-color: white;
}

#imgHero:hover {
    animation: happiness 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}