.pages-number,
.cities-title {
    font-weight: bold;
    font-size: 2.2rem;
    color: #e4bc73;
    text-shadow: 1px 1px 0px rgb(0, 0, 0), -1px -1px 0px rgb(0, 0, 0);
}

.waiting {
    height: 50vh;
    width: 90%;
    border: 2px solid rgb(2, 2, 2);
    background-image: url("/wait.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pages-button {
    position: inherit; 
}