.itinerary-comment {
    width: 100%;
    background-color: #ffffff;
    border-radius: 1rem;
    border: solid 2px #cc892d;
    box-shadow: 6px 6px 2px #0000008c;
}

.user-photo {
    border: solid 2px #cc892d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #cc892d;
    overflow: hidden;
    object-fit: cover;
}

.itinerary-comment p {
    text-indent: 1.3rem;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bolder;
}

.container-comment {
    position: relative;
}

.active-edit {
    color: #cd821a !important;
    background-color: #fbd7a4 !important;
}

@media (min-width:427px) {
    .edit-buttons {
        position: absolute;
        bottom: -15px;
        right: -10px;
    }
}