.itinerary {
    min-width: 280px;
    max-width: 90%;
    width: 90%;
    min-height: 60vh;
    background-image: url('../../../public/backgroundItinearies2.jpeg');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 6px 6px 2px #0000008c;
}

.itinerary-bg {
    min-width: 280px;
    width: 100%;
    min-height: 60vh;
    height: 100%;
    background-image: url('../../../public/photos.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}