.cardCitie {
    background-color: rgb(255, 254, 254);
    width: 280px;
    height: 350px;
    box-shadow: 6px 6px 2px black;
    transition: 1s;
    margin: 3px;
    padding: 15px 15px 0px 15px;
    border: 2px solid rgb(2, 2, 2);
}

.cardCitie figure {
    height: 85%;
    object-fit: cover;
    border: 2px solid rgb(2, 2, 2);
}

.cardCitie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardCitie:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 6px 6px 2px 0.4rem black;
}

.cardCitie p {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

@media (min-width:0px) and (max-width:426px) {
    .cardCitie {
        width: 200px;
        height: 270px;
        margin-top: 6px;
    }
}