#textFooter,
#footerColumns a {
    font-size: 25px;
    font-weight: 600;
    color: #cd821a;
    text-shadow: 2px 0px rgba(28, 88, 115, 1);
    transition: 500ms;
    margin: 0 1.5rem 0 1.5rem;
}

#footerColumns a:hover {
    color: #cd821a;
    transform: translate(0.5rem, 0.5rem);
}

#footerColumns span {
    font-weight: bold;
    font-size: 25px;
    color: #cc892d;
    text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0), -1.5px -1.5px 0px rgb(0, 0, 0);
}

#footerColumns i {
    font-size: 55px;
}