.card-itinerary {
    min-width: 240px;
    width: 90%;
    min-height: 15vh;
    background-color: #ffffffe6;
    border-radius: 1rem;
    border: solid 2px #cc892d;
    box-shadow: 6px 6px 2px #0000008c;
}

.itinerary-photo {
    border: solid 2px #cc892d;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #cc892d;
    overflow: hidden;
}

.itinerary-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.like-number,
.itinerary-time,
.itinerary-hastags {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bolder;
}

.likes {
    color: #e10303;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.more-button {
    cursor: pointer;
}
.more-button i {
    animation: buttonViewMore 2s;
    animation-iteration-count: infinite;
}

.itinerary-activities a {
    cursor: default;
}

.itinerary-activities p {
    font-size: 24px;
}

.green {
    color: #53b145;
}

.gray {
    color : #535353
}