#img404 {
    animation: lostCompass 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lostCompass {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(-90deg);
    }
    75% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}