@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@keyframes happiness {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(3deg);
    }
    100% {
        transform: rotateZ(-3deg);
    }
}

@keyframes shakeButton {
    0%, 50% {
        transform: translateX(0);
    }
    10%, 30% {
        transform: translateX(5px);
    }
    20%, 40% {
        transform: translateX(-5px);
    }
}

@keyframes buttonViewMore {
    0%, 50% {
        transform: translatey(0);
    }
    10%, 30% {
        transform: translatey(2px);
    }
    20%, 40% {
        transform: translatey(-2px);
    }
}

@media (min-width:0px) and (max-width:426px) {
    #imgHero {
        width: 180px;
    }

    #heroBodyCard {
        padding: 10px !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        padding: 1em !important;
    }
}

@media (min-width:2000px) {
    h2, p {
        transform: scale(1.3);
    }

    a {
        font-size: 2.3rem !important;
    }

    #footerColumns i {
        font-size: 90px !important;
    }

    h1, #logoTinerary {
        transform: scale(1.2);
    }

    .navbar-brand {
        margin-left: 3vw;
    }

    #buttonHero {
        margin-top: 5vh;
    }

    #buttonHero img {
        max-height: 160px !important;
    }

    #imgHero {
        height: 400px;
    }

    .cardCarousel {
        width: 380px !important;
        height: 450px !important;
        transition: 1s;
        padding: 15px 15px 0px 15px;
        border: 2px solid rgb(2, 2, 2);
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        padding: 2em !important;
    }
}