@keyframes happiness {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(3deg);
    }
    100% {
        transform: rotateZ(-3deg);
    }
}

@media (min-width:0px) and (max-width:426px) {
    #imgHero {
        width: 180px;
    }

    #heroBodyCard {
        padding: 10px !important;
    }
}

/* @media (min-width:322px) and (max-width:376px) {
    #heroBodyCard {
        padding: 10px !important;
    }
}

@media (min-width:377) and (max-width:426) {
    #heroBodyCard {
        padding: 10px !important;
    }
} */