@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

body {
  background-image: url("/backgroundTinerary.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}