#headerNav {
    min-height: 12vh;
    background: rgb(140,216,217);
    background: linear-gradient(235deg, rgba(140,216,217,0.4) 35%, rgba(233,204,144,0.8) 120%);
}

main {
    min-height: 64vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    max-width: 100vw;
}

footer {
    min-height: 12vh;
    background: rgb(140,216,217);
    background: linear-gradient(320deg, rgba(140,216,217,0.4) 35%, rgba(233,204,144,0.8) 90%);
}