#headerNav {
    min-height: 12vh;
}

main {
    min-height: 64vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flexbox;
    justify-content: center;
    max-width: 100vw;
}

footer {
    min-height: 12vh;
    max-height: 12vh;
    background: rgb(140,216,217);
    background: linear-gradient(180deg, rgba(140,216,217,0.4) 0%, rgba(233,204,144,0.8) 100%);
}